@use "./fonts.scss";

@layer system {
    #ui-middle {
        width: 45%
    }

    #ui-bottom {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    }

    .doomsong {
        --color-text-primary: black;
        --color-text-emphatic: black;
        --color-light-1: black;

        font-family: "IM Fell Double Pica", serif !important;
        font-weight: 400;
        font-style: normal;

        // Font stylings
        .elevated, h1, h2 {
            font-family: "Manufacturing Consent", system-ui;
        }

        .italic {
            font-style: italic;
        }

        // Remove the ridiculous margins on various elements
        h1,h2,h3,h4 {
            margin: 0px;
            padding: 0px
        }

        ul, ol {
            margin: 0px;
        }


        // Default borders look ugly
        img {
            border: none;
        }

        // Stark, ecclesiastic black and white
        button,
        input,
        textarea,
        select {
            background-color: black;
            color: white
        }

        // Sharp edges!
        button,
        select {
            border-radius: 0px;
        }

        // Custom tooltip
        &#tooltip {
            background-color: white !important;
            border: 1px solid black;
            border-radius: 0px !important;
            box-shadow: none !important;
            color: black !important;

            // For action planner tooltips
            &.actions {
                text-align: start;
            }
        }

        &.actor.application {
            border: none;
            box-shadow: none;
            background: none;
            overflow: visible; // For the border

            &>header {
                z-index: 10; // Just make it high as shit
                margin-left: 80px;
                margin-right: 10px;
                background: none;
                border: none;
                color: black;
            }

            &>section.window-content {
                padding: 5px 5px 5px 15px; // Top right bottom left
                background-color: white;
                color: black;
            }

            // Need to bump it a bit down and to the right so it isn't blocked by the 
            &>.window-resize-handle {
                bottom: -20px;
                right: -25px;
            }

            // The frame itself
            &:not(.minimized)::before {
                content: "";
                position: absolute;
                top: -10px;
                left: -25px;
                right: -35px;
                bottom: -35px;
                border: 155px solid transparent;
                border-image: url("$assets/frames/DoomBorder.png") 155 repeat;
                pointer-events: none;
                z-index: 2;
            }
        }
    }

    // Calendar adjustments
    .simple-calendar {
        font-family: "IM Fell Double Pica", serif !important;

        .fsc-rf .fsc-sf {
            .fsc-p {
                font-weight: normal !important;
                font-size: 1.5em !important;
            }

        }
    }
}